body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(#dddddd);
} 

span {
  margin: 2px;
}

#gameHeader{
  text-align: center;
}

.game{
  text-align: center;
  margin: 50px;
  border: 50px;
  height: 800px;
}

.row{
  height: 800px;
  align-content: center;
  vertical-align: top;
}

.Tile{
  text-align: center;
  font-size: 40px;
  display: inline-block;
  width: 40px;

}
.char{
  margin: 3px;
}
.space{
  height: 110px;
  width:  40px;
}

.cipherBox{
  margin: 10px;
}