body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(#dddddd);
} 

span {
  margin: 2px;
}

#gameHeader{
  text-align: center;
}

.game{
  text-align: left;
  margin: 50px;
  border: 50px;
  height: 800px;
}

.row{
  height: 800px;
  align-content: left;
  vertical-align: top;
}

.Tile{
  text-align: center;
  font-size: 40px;
  display: inline-block;
  width: 40px;

}
.char{
  margin: 3px;
}

.active{
  font-weight: bold;
}

.space{
  font-size: 30px;
  color: rgb(146, 146, 146);
}

.cipherBox{
  margin: 10px;
}