body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(#dddddd);
} 

#gameHeader{
  text-align: center;
}

.game{
  text-align: center;
  align-content: center;
  margin: 50px;
  border: 50px;
  height: 800px;
}

.Tile{
  font-size: 40px;
  font-weight: bold;
  float: left;
}
.char{
  margin: 5px;
}
.space{
   margin: 13px;
}

.cipherBox{
  margin: 10px;
}